h2h_openworld_nodered.json
[{"id":"c798eca1.f15b1","type":"tab","label":"OpenWorld","disabled":false,"info":"SPIKE Hub2Hub Example"},{"id":"6ea2f9e9.5ea768","type":"serial in","z":"c798eca1.f15b1","name":"sendHub","serial":"2502c30e.7bd40c","x":80,"y":100,"wires":[["b4dfeb6e.62a838"]]},{"id":"226d3ca3.dd2cf4","type":"serial out","z":"c798eca1.f15b1","name":"recvHub","serial":"50b75970.6d0448","x":760,"y":140,"wires":[]},{"id":"b4dfeb6e.62a838","type":"json","z":"c798eca1.f15b1","name":"JSON","property":"payload","action":"","pretty":false,"x":230,"y":180,"wires":[["596c7902.6b1e58"]]},{"id":"596c7902.6b1e58","type":"switch","z":"c798eca1.f15b1","name":"OnlyVar_m11","property":"payload.m","propertyType":"msg","rules":[{"t":"eq","v":"11","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":260,"wires":[["5258dee3.985c"]]},{"id":"5258dee3.985c","type":"function","z":"c798eca1.f15b1","name":"JSON_TurnMotor360","func":"msg.payload = \"{\\\"i\\\":\\\"ABCD\\\",\\\"m\\\":\\\"scratch.motor_run_for_degrees\\\",\\\"p\\\":{\\\"port\\\":\\\"B\\\",\\\"speed\\\":50,\\\"degrees\\\":360,\\\"stall\\\":true,\\\"stop\\\":1}}\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["226d3ca3.dd2cf4"]]},{"id":"1eaefcf2.195223","type":"comment","z":"c798eca1.f15b1","name":"Serial Interface to the Sending Hub","info":"","x":160,"y":60,"wires":[]},{"id":"cfda543e.3476c8","type":"comment","z":"c798eca1.f15b1","name":"REPL 2 JSON","info":"","x":250,"y":140,"wires":[]},{"id":"dadc2a61.56b8c8","type":"comment","z":"c798eca1.f15b1","name":"If a Variable is sent","info":"","x":410,"y":220,"wires":[]},{"id":"2cb860e6.11ac8","type":"comment","z":"c798eca1.f15b1","name":"Sending JSON","info":"","x":580,"y":300,"wires":[]},{"id":"e40683a7.f897d","type":"comment","z":"c798eca1.f15b1","name":"Serial Interface to the Receiving Hub","info":"","x":680,"y":100,"wires":[]},{"id":"2502c30e.7bd40c","type":"serial-port","z":"","serialport":"/dev/rfcomm7","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"50b75970.6d0448","type":"serial-port","z":"","serialport":"/dev/rfcomm8","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]